//BASE

//colors:
$color-primary:#1565c0;
$color-primary-dark:#003c8f;
$color-primary-light:#5e92f3;


*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}

//Layout
.container{
    max-width: 114rem;
    margin: auto;
    background-color: $color-primary-dark;
}

.creator{
    margin-top: 2rem;
    font-size: 1.7rem;
    border-radius: .3rem;
    text-align: center;
}

.main{
    margin-top: 2rem;
    border-radius: .3rem;
}


//Components
.button{
    border: none;
    background-color: $color-primary-light;
    font-size: 1.6rem;
    border-radius: 100px;
    padding: 1rem 2rem;
    cursor: pointer;
}